# Configuration de base de données
server:
  port: ${jaflow.workflow.url.port}
spring:
  config:
    import: "classpath:jaflow.properties"
  application:
    name: workflow
  security:
    oauth2:
      client:
        registration:
          keycloak:
            client-id: ${jaflow.keycloak.client-id}
            client-secret: ${jaflow.keycloak.client-secret}
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            scope: openid, profile, email
        provider:
          keycloak:
            issuer-uri: ${jaflow.keycloak.url.protocol}://${jaflow.keycloak.url.host}:${jaflow.keycloak.url.port}/realms/${jaflow.keycloak.realm}
      resourceserver:
        jwt:
          issuer-uri: ${jaflow.keycloak.url.protocol}://${jaflow.keycloak.url.host}:${jaflow.keycloak.url.port}/realms/${jaflow.keycloak.realm}

  datasource:
    url: jdbc:postgresql://${jaflow.postgres.url.host}:${jaflow.postgres.url.port}/${jaflow.postgres.url.database.workflow.name}
    username: ${jaflow.postgres.url.database.workflow.username}
    password: ${jaflow.postgres.url.database.workflow.password}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true



# Used by Swagger
info:
  title: "JAFlow Workflow API"
  description: "Cette API permet de gérer les workflows avec intégration Keycloak"
  version: "1.0.0"
  contact:
    name: "Bruce Wayne"
    email: "bruce.wayne@example.com"
    url: "https://ton-site.fr"