<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Launch Process</title>
</head>
<body>

<h3><b>Directory path:</b>  <span th:text="${jarProcess.dirPath}">undefined</span> </h3>
<h3><b>Name:</b>  <span th:text="${jarProcess.name}">undefined</span> </h3>
<h3><b>Pid:</b>  <span th:text="${jarProcess.pid}">undefined</span> </h3>
<h3><b>Filename:</b>  <span th:text="${jarProcess.filename}">undefined</span> </h3>



<h2><a href="./"> BACK TO WELCOME PAGE </a></h2>

</body>
</html>